<%- include("partials/header") -%>

<!-- gallery -->
<section class="gallery">
  <div class="container">
    <!-- title -->
    <div class="row">
      <div class="col text-center py-5">
        <h1 class="text-secondary text-uppercase font-italic common-title">
          The best library in the world
        </h1>
      </div>
      <!-- end title -->

      <div class="row mb-4 first-row align-items-end">
        <div class="col-lg-3">
          <a href="img/libraries/library1.jpg" data-lightbox="library" data-title="Library1 - Clementinum, Prague">
            <img src="img/libraries/library1.jpg" class="img-thumbnail gallery-img" alt="">
          </a>
        </div>
        <div class="col-lg-3">
          <a href="img/libraries/library2.jpg" data-lightbox="library" data-title="Library2 - Bibliotheca Alexandrina, Alexandria, Egypt">
            <img src="img/libraries/library2.jpg" class="img-thumbnail gallery-img" alt="">
          </a>
        </div>
        <div class="col-lg-3">
          <a href="img/libraries/library3.jpg" data-lightbox="library" data-title="Library3 - Trinity College Old Library, Dublin">
            <img src="img/libraries/library3.jpg" class="img-thumbnail gallery-img" alt="">
          </a>
        </div>
        <div class="col-lg-3">
          <a href="img/libraries/library4.jpg" data-lightbox="library" data-title="Library4 - Central Library of Vancouver, Canada">
            <img src="img/libraries/library4.jpg" class="img-thumbnail gallery-img" alt="">
          </a>
        </div>
      </div>
      <div class="row mb-4 second-row align-items-end">
        <div class="col-lg-3">
          <a href="img/libraries/library5.jpg" data-lightbox="library" data-title="Library5 - Library of Congress, Washington, D.C.">
            <img src="img/libraries/library5.jpg" class="img-thumbnail gallery-img" alt="">
          </a>
        </div>
        <div class="col-lg-3">
          <a href="img/libraries/library6.jpg" data-lightbox="library" data-title="Library6 - New York Public Library (Stephen A. Schwarzman Building)">
            <img src="img/libraries/library6.jpg" class="img-thumbnail gallery-img" alt="">
          </a>
        </div>
        <div class="col-lg-3">
          <a href="img/libraries/library7.jpg" data-lightbox="library" data-title="Library7 - Marciana Library, Venice">
            <img src="img/libraries/library7.jpg" class="img-thumbnail gallery-img" alt="">
          </a>
        </div>
        <div class="col-lg-3">
          <a href="img/libraries/library8.jpg" data-lightbox="library" data-title="Library8 - Seattle Public Library’s Central Library">
            <img src="img/libraries/library8.jpg" class="img-thumbnail gallery-img" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- famouse writer -->
<section class="famous-writers pb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center py-5">
        <h1 class="text-secondary text-uppercase font-italic common-title">
          The most famous writers
        </h1>
      </div>
    </div>
    <!-- title end -->
    <div class="row">
      <div class="col-lg-4 text-center align-self-center">
        <a href="#"><img src="img/writers/William_Shakespeare-book1.jpg" class="img-fluid" id="book-1" alt=""></a>
      </div>
      <div class="col-lg-4">
        <div id="accordion" class="writers-accordion">
          <div class="card">
            <div class="card-header p-5">
              <button type="button" class="btn btn-block btn-outline-danger" data-toggle="collapse" data-target="#collapseOne" id="button-William_Shakespeare">
                William Shakespeare
              </button>
            </div>
            <div class="collapse" id="collapseOne" data-parent="#accordion">
              <div class="card-body">
                <div class="card">
                  <img src="img/writers/William_Shakespeare.jpg" class="card-img-top img-fluid" alt="">
                  <div class="card-body">
                    <p class="card-text">William Shakespeare is a famous writer from </p>
                    <a href="#" class="btn btn-primary btn-block">More Books</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-5">
              <button type="button" class="btn btn-block btn-outline-danger" data-toggle="collapse" data-target="#collapseTwo" id="button-Jane_Austen">
                Jane Austen
              </button>
            </div>
            <div class="collapse" id="collapseTwo" data-parent="#accordion">
              <div class="card-body">
                <div class="card">
                  <img src="img/writers/Jane_Austen.jpg" class="card-img-top img-fluid" alt="">
                  <div class="card-body">
                    <p class="card-text">Jane Austen is a famous writer from </p>
                    <a href="#" class="btn btn-primary btn-block">More Books</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-5">
              <button type="button" class="btn btn-block btn-outline-danger" data-toggle="collapse" data-target="#collapseThree" id="button-Victor_Hugo">
                Victor Hugo
              </button>
            </div>
            <div class="collapse" id="collapseThree" data-parent="#accordion">
              <div class="card-body">
                <div class="card">
                  <img src="img/writers/Victor_Hugo.jpg" class="card-img-top img-fluid" alt="">
                  <div class="card-body">
                    <p class="card-text">Victor Hugo is a famous writer from </p>
                    <a href="#" class="btn btn-primary btn-block">More Books</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-5">
              <button type="button" class="btn btn-block btn-outline-danger" data-toggle="collapse" data-target="#collapseFour" id="button-Charles_Dickens">
                Charles Dickens
              </button>
            </div>
            <div class="collapse" id="collapseFour" data-parent="#accordion">
              <div class="card-body">
                <div class="card">
                  <img src="img/writers/Charles_Dickens.jpg" class="card-img-top img-fluid" alt="">
                  <div class="card-body">
                    <p class="card-text">Charles Dickens is a famous writer from </p>
                    <a href="#" class="btn btn-primary btn-block">More Books</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="my-3">
          <a href="#" class="btn btn-outline-info btn-block">
            More Writers
          </a>
        </div>
      </div>
      <div class="col-lg-4 text-center align-self-center">
        <a href="#"><img src="img/writers/William_Shakespeare-book2.jpg" class="img-fluid" id="book-2" alt=""></a>
      </div>
    </div>
  </div>
</section>

<!-- SUGGESTED BOOKS -->
<section class="suggested-books">
  <div class="container-fluid">
    <!-- title -->
    <div class="row">
      <div class="col text-center py-5">
        <h1 class="text-secondary text-uppercase font-italic common-title text-light">Suggested Books</h1>
      </div>
    </div>
    <!-- end of title -->
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10 mx-auto books">
        <a href="#"><img src="img/suggested-books/book1.jpg" class="img-fluid book book-1" alt=""></a>
        <a href="#"><img src="img/suggested-books/book2.jpg" class="img-fluid book book-2" alt=""></a>
        <a href="#"><img src="img/suggested-books/book3.jpg" class="img-fluid book book-3" alt=""></a>
        <a href="#"><img src="img/suggested-books/book4.jpg" class="img-fluid book book-4" alt=""></a>
      </div>
    </div>
  </div>
</section>
<!-- end of suggested books -->

<!-- popular books -->
<section class="popular-books p-5">
  <div class="video-container">
    <video class="bg-video" autoplay muted loop>
      <source src="video/works.mp4" type="video/mp4">
      <source src="video/works.webm" type="video/webm">
      Your browser is not supported
    </video>
  </div>
  <div class="container-fluid">
    <!-- title -->
    <div class="row">
      <div class="col text-center py-5">
        <h1 class="text-secondary text-uppercase font-italic common-title text-light">The most popular book of the week</h1>
      </div>
    </div>
    <!-- end of title -->
    <div class="row justify-content-around align-items-center">
      <div class="col-xl-3 col-lg-4 col-sm-8 rotate">
        <div class="card text-center mb-3 book-card mx-auto">
          <div class="card-header">
            <h4 class="font-weight-light">A tale of two cities</h4>
          </div>
          <div class="card-body">
            <img src="img/Popular-Books/A-Tale-of-Two-Cities.jpg" class="img-fluid rounded" alt="">
          </div>
          <div class="card-footer">
            By Charles Dickens
          </div>
          <div class="back">
            <div class="back-content">
              <h1 class="text-uppercase font-weight-light font-italic">Only for</h1>
              <h3 class="mb-3">$20</h3>
              <p><del>$100</del></p>
              <a href="#" class="btn btn-outline-danger px-4">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-8 rotate">
      <div class="card text-center mb-3 book-card mx-auto">
        <div class="card-header">
          <h4 class="font-weight-light">A tale of two cities</h4>
        </div>
        <div class="card-body">
          <img src="img/Popular-Books/Don-Quixote.jpg" class="img-fluid rounded" alt="">
        </div>
        <div class="card-footer">
          By Miguel de Cervantes
        </div>
        <div class="back">
          <div class="back-content">
            <h1 class="text-uppercase font-weight-light font-italic">Only for</h1>
            <h3 class="mb-3">$30</h3>
            <p><del>$150</del></p>
            <a href="#" class="btn btn-outline-danger px-4">Buy Now</a>
          </div>
        </div>
      </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-8 rotate">
      <div class="card text-center mb-3 book-card mx-auto">
        <div class="card-header">
          <h4 class="font-weight-light">A tale of two cities</h4>
        </div>
        <div class="card-body">
          <img src="img/Popular-Books/One-Hundred-Years-of-Solitude.jpg" class="img-fluid rounded" alt="">
        </div>
        <div class="card-footer">
          By Gabriel Garcia Marquez
        </div>
        <div class="back">
          <div class="back-content">
            <h1 class="text-uppercase font-weight-light font-italic">Only for</h1>
            <h3 class="mb-3">$15</h3>
            <p><del>$120</del></p>
            <a href="#" class="btn btn-outline-danger px-4">Buy Now</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
<!-- end of popular books-->

<!-- contact -->
<section class="contact py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-5 col-md-8 col-10 mx-auto mb-4">
        <div class="row items-wrapper py-3 align-items-center text-center">
          <div class="col-sm-5 col-8 floating-item first-item mx-auto my-4 p-2">
            <a href="#" class="text-light"><i class="fab fa-linkedin-in"> Connect by Linkedin</i></a>
          </div>
          <div class="col-sm-5 col-8 floating-item">
            <div class="col-sm-5 col-8 floating-item second-item mx-auto my-4 p-2">
              <a href="#" class="text-light"><i class="fab fa-facebook">Share 50K</i></a>
            </div>
          </div>
          <div class="col-sm-5 col-8 floating-item">
            <div class="col-sm-5 col-8 floating-item third-item mx-auto my-4 p-2">
              <div class="text-light">
                <h4>New Books</h4>
                <p>Introduce to New Storie</p>
                <a href="#" class="text-danger mr-3">More Books</a>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-8 floating-item">
            <div class="col-sm-5 col-8 floating-item fourth-item mx-auto my-4 p-2">
              <div class="text-light">
                <h4>New Books</h4>
                <p>Sale will be expire soon</p>
                <a href="#" class="text-danger mr-3">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-8 floating-item">
            <div class="col-sm-5 col-8 floating-item fifth-item mx-auto my-4 p-2">
              <a href="#" class="text-light"><i class="fas fa-book">Read Online</i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-md-8 col-10"></div>
    </div>
  </div>
</section>


<%- include("partials/footer") -%>
